@model CommunicationApp.Models.FormModel

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2 class="text-center">Form</h2>
<div>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
