@model CommunicationApp.Models.EventModel

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<script type="text/javascript" src="~/assets/plugins/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            if ($('#fileToUpload').val() == "") {
                if ($('#LogoPath').val() == "") {
                    $("#spanfile").html("Please upload file");
                    return false;
                }
            }
            else {
                return checkfile();
            }
        });

        //get file path from client system
        function getNameFromPath(strFilepath) {

            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }

        }
        //get file size
        function GetFileSize(fileid) {
            try {
                var fileSize = 0;
                // Detecting IE
                var isIE = false;
                if ($('html').is('.ie ie7, .ie ie8, .ie ie9, .ie ie10')) {
                    isIE = true;
                    //alert("IE");
                }

                if (isIE) {
                    //before making an object of ActiveXObject,
                    //please make sure ActiveX is enabled in your IE browser
                    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                    var objFile = objFSO.getFile(filePath);
                    var fileSize = objFile.size; //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                    //for FF, Safari, Opeara and Others
                else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }

                // alert("Uploaded File Size is" + fileSize + "MB");
                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }
        function checkfile() {
            var file = getNameFromPath($("#fileToUpload").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                //alert(extension);
                switch (extension) {
                    case 'jpg':
                    case 'png':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                $("#spanfile").html("You can upload only jpg, png extension file");
                return false;

            }
            else {
                var size = GetFileSize('fileToUpload');
                if (size > 3) {
                    $("#spanfile").html("You can upload file up to 3 MB");
                    return false;
                }
                else {
                    $("#spanfile").html("");
                }
            }
        }
        $(function () {
            $("#fileToUpload").change(function () {
                checkfile();
            });

        });


    

    });
    function showimagepreview(input) {
        debugger;
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#imgprvw').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>
@{Html.RenderAction("DisplayMessage", "Base", new { ShowMessage = TempData["ShowMessage"], MessageBody = @TempData["MessageBody"] });}
@using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(c=>c.AdminId)
    @Html.HiddenFor(c=>c.NewsLetterId)
    
    <div class="row">
        <div class="col-md-12">
            <div class="sky-form boxed margin-top10">
                <header>NewsLetter</header>
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="row">
                        <section class="col col-md-3">
                            @*<label for="PhotoPath" class="label-required">Photo<span class="required">*</span></label>*@
                            @if ((Model.Image != "") && (Model.Image != null))
                            {
                                <img id="imgprvw" alt="Avatar" src="@Url.Content(Model.Image)" height="120" width="120" />
                            }
                            Upload Image
                            <input type="file" name="file" id="ImageUpload" onchange="showimagepreview(this)" />
                            @*<label for="fileToUpload" class="input input-file">
                </label>*@
                        </section>

                        <section style="display:none" class="col col-md-4">
                            <div class="button"><input type="file" id="fileToUpload" onchange="this.parentNode.nextSibling.value = this.value" name="file">Browse</div>
                            <span style="color:red;"></span><span id="spanfile" class="field-validation-error"></span>
                        </section>

                    </div>
                 
                    <div class="row">
                        <section class="col col-md-3">
                            @Html.LabelForRequired(model => model.NewsLetterName)
                            <label class="input">
                                @Html.TextBoxFor(model => model.NewsLetterName)
                                @Html.ValidationMessageFor(model => model.NewsLetterName)
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-md-6">

                            @Html.LabelForRequired(model => model.OrderNo)
                            <label class="textarea">
                                @Html.TextBoxFor(model => model.OrderNo)
                                @Html.ValidationMessageFor(model => model.OrderNo)
                            </label>
                        </section>
                    </div>

                </fieldset>
                <footer>
                    <input type="submit" value="Update Event" class="bigButton" id="btnSubmit" />
                </footer>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "NewsLetterList")
</div>


