
@model IEnumerable<CommunicationApp.Models.AdminStaffModel>

@{
    ViewBag.Title = "AdminStaff";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<h2 class="text-center">AdminStaff</h2>


<script type="text/javascript">

    //delete experience
    function updateid(pid) {
        id = pid;
    }
    function deleteme() {

        window.location = "/User/DeleteConfirmed?id=" + id;
    }

</script>
<p class="operation">
    <i class="fa fa-mail-forward create_icon red"></i>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    Html.RenderAction("DisplayMessage", "Base", new { ShowMessage = TempData["ShowMessage"], MessageBody = TempData["MessageBody"] });
}
@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-md-12">
            <div class="col col-md-1">
                <b>First Name</b>
            </div>
            <div class="col col-md-2">
                @Html.TextBox("FirstName", null, new { @class = " col-md-12", @style = "height: 34px;" })
            </div>
            <div class="col col-md-1">
                <b>Email</b>
            </div>
            <div class="col col-md-2">
                @Html.TextBox("Email", null, new { @class = " col-md-12", @style = "height: 34px;" })
            </div>

            <div class="col col-md-3">
                <input type="submit" value="Search" data-id="search" class="bigButton action" />
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel  sky-form boxed margin-top10">
            <div class="x_title">
                <header>Admin Staff</header>
                <div class="clearfix"></div>               
            </div>
            <div class="x_content">
                <!-- start project list -->
                <table id="mytable" class="table">
                    <thead>
                        <tr>
                            <th style="width: 10%"><span>Admin Photo</span></th>
                            <th style="width: 15%"><span>First Name</span></th>
                            <th style="width: 15%"><span>Last Name</span> </th>
                            <th style="width: 20%"><span>Website Url</span></th>
                            <th style="width: 20%"><span>Email ID</span></th>
                            <th style="width: 10%"><span>IsActive</span></th>
                            <th style="width: 10%"><span>Action</span></th>

                        </tr>
                    </thead>
                    <tbody>
                        @{

                            string RowColors = "";

                        }
                        @foreach (var item in Model)
                        {
                            if (@item.IsActive == true)
                            {
                                RowColors = "Greencolor";
                            }
                            else
                            {
                                RowColors = "Redcolor";
                            }


                            <tr class="@RowColors">
                                <td>
                                    <ul class="list-inline">

                                        @if ((item.PhotoPath != "") && (item.PhotoPath != null))
                                        {
                                            <li>
                                                <img src="@item.PhotoPath" class="avatar" alt="Avatar">
                                            </li>
                                        }

                                    </ul>

                                </td>
                                <td>
                                    @*<a href="@Url.Action("WelcomeHome", "Home", new { id = @item.CustomerId })"><i class="">@item.FirstName</i>    </a>*@
                                    @item.FirstName
                                </td>
                                <td>

                                    @item.LastName
                                </td>
                                <td>
                                    @item.WebsiteUrl
                                </td>

                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.IsActive
                                </td>

                                <td class="operation">


                                    <a href="@Url.Action("Edit", "AdminStaff", new { id = @item.AdminStaffId })" style="color: #20A12E" class=""><i class="">Edit</i>    </a>
                                    @*<a data-toggle="modal" onclick="updateid(@item.);" style="color: #20A12E" title="Delete" href="#myModal"><i class="">Delete</i></a>*@
                                </td>
                            </tr>


                        }
                    </tbody>
                </table>
                <!-- end project list -->
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <!-- modal header -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete User</h4>
            </div><!-- /modal header -->
            <!-- modal body -->
            <div class="modal-body">
                <p>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
            </div>
            <!-- /modal body -->

            <div class="modal-footer">
                <!-- modal footer -->
                <button class="bigButton" data-dismiss="modal">Close</button>
                <button class="bigButton" onclick="deleteme();">Delete</button>
            </div><!-- /modal footer -->

        </div>
    </div>
</div>

@{
    Html.RenderAction("Paging", "Base");
}


