@model CommunicationApp.Models.AdminModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<script type="text/javascript" src="~/assets/plugins/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            if ($('#fileToUpload').val() == "") {
                if ($('#LogoPath').val() == "") {
                    $("#spanfile").html("Please upload file");
                    return false;
                }
            }
            else {
                return checkfile();
            }
        });

        //get file path from client system
        function getNameFromPath(strFilepath) {

            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }

        }
        //get file size
        function GetFileSize(fileid) {
            try {
                var fileSize = 0;
                // Detecting IE
                var isIE = false;
                if ($('html').is('.ie ie7, .ie ie8, .ie ie9, .ie ie10')) {
                    isIE = true;
                    //alert("IE");
                }

                if (isIE) {
                    //before making an object of ActiveXObject,
                    //please make sure ActiveX is enabled in your IE browser
                    var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                    var objFile = objFSO.getFile(filePath);
                    var fileSize = objFile.size; //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }
                    //for FF, Safari, Opeara and Others
                else {
                    fileSize = $("#" + fileid)[0].files[0].size //size in kb
                    fileSize = fileSize / 1048576; //size in mb
                }

                // alert("Uploaded File Size is" + fileSize + "MB");
                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }
        function checkfile() {
            var file = getNameFromPath($("#fileToUpload").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                //alert(extension);
                switch (extension) {
                    case 'jpg':
                    case 'png':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                $("#spanfile").html("You can upload only jpg, png extension file");
                return false;

            }
            else {
                var size = GetFileSize('fileToUpload');
                if (size > 3) {
                    $("#spanfile").html("You can upload file up to 3 MB");
                    return false;
                }
                else {
                    $("#spanfile").html("");
                }
            }
        }
        function checkLogo() {
            var file = getNameFromPath($("#logoUpload").val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1));
                //alert(extension);
                switch (extension) {
                    case 'jpg':
                    case 'png':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }
            if (flag == false) {
                $("#spanfile").html("You can upload only jpg, png extension file");
                return false;

            }
            else {
                var size = GetFileSize('logoUpload');
                if (size > 3) {
                    $("#spanfile").html("You can upload file up to 3 MB");
                    return false;
                }
                else {
                    $("#spanfile").html("");
                }
            }
        }

        $(function () {
            $("#fileToUpload").change(function () {
                checkfile();
            });

        });

        $(function () {
            $("#logoUpload").change(function () {
                checkLogo();
            });

        });

    });


    function showimagepreview(input) {
        debugger;
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#imgprvw').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
    function showLogopreview(input) {
        debugger;
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#Logoprvw').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>
@{Html.RenderAction("DisplayMessage", "Base", new { ShowMessage = TempData["ShowMessage"], MessageBody = @TempData["MessageBody"] });}
@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.CompanyID)
    @Html.HiddenFor(model => model.Designation)
    @Html.HiddenFor(model => model.PhotoPath)
    @Html.HiddenFor(model => model.AdminCompanyLogo)
    <div class="row">
        <div class="col-md-12">
            <div class="sky-form boxed margin-top10">
                <header>Admin</header>
                @Html.ValidationSummary(true)
                <fieldset>
                    <div class="row">

                        <div class="row">
                            <section class="col col-md-3">
                                
                                @if (Model.PhotoPath != null || Model.PhotoPath != "")
                                {
                                    <img id="imgprvw" alt="Avatar" src="@Model.PhotoPath" height="120" width="120" />
                                }
                                else
                                {
                                    <img id="imgprvw" alt="Avatar" src=" ~/images/noImage.jpg" height="120" width="120" />

                                }
                                Upload user image
                                <input type="file" name="file" id="ImageUpload" onchange="showimagepreview(this)" />
                              
                            </section>

                            <section style="display:none" class="col col-md-4">
                                <div class="button"><input type="file" id="fileToUpload" onchange="this.parentNode.nextSibling.value = this.value" name="file">Browse</div>
                                <span style="color:red;"></span><span id="spanfile" class="field-validation-error"></span>
                            </section>

                        </div>

                    </div>
                    <div class="row">

                        <div class="row">
                            <section class="col col-md-3">    
                                                          
                                @if (Model.AdminCompanyLogo != null || Model.AdminCompanyLogo != "")
                                {
                                    <img id="Logoprvw" alt="Avatar" src="@Model.AdminCompanyLogo" height="120" width="120" />
                                }
                                else
                                {
                                    <img id="imgprvw" alt="Avatar" src=" ~/images/noImage.jpg" height="120" width="120" />

                                }
                                Upload company logo
                                <input type="file" name="Logo" id="logoUpload" onchange="showLogopreview(this)" />                                
                            </section>

                            <section style="display:none" class="col col-md-4">
                                <div class="button"><input type="file" id="fileToUpload" onchange="this.parentNode.nextSibling.value = this.value" name="file">Browse</div>
                                <span style="color:red;"></span><span id="spanfile" class="field-validation-error"></span>
                            </section>

                        </div>

                    </div>
                    <div class="row">
                        <section class="col col-md-3">
                            @Html.LabelFor(model => model.FirstName)
                            <label class="input">
                                @Html.TextBoxFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </label>
                        </section>

                        <section class="col col-lg-3">
                            @Html.LabelFor(model => model.MiddleName)
                            <label class="input ">
                                @Html.TextBoxFor(model => model.MiddleName)
                                @*@Html.ValidationMessageFor(model => model.TrebId)*@
                            </label>
                        </section>
                    </div>


                    <div class="row">
                        <section class="col col-md-3">

                            @Html.LabelFor(model => model.LastName)
                            <label class="input">
                                @Html.TextBoxFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </label>
                        </section>
                        <section class="col col-lg-3">

                            @Html.LabelFor(model => model.WebsiteUrl)
                            <label class="input">
                                @Html.TextBoxFor(model => model.WebsiteUrl)
                                @*@Html.ValidationMessageFor(model => model.WebsiteUrl)*@
                            </label>
                        </section>
                        <section class="col col-lg-6"></section>
                    </div>

                    <div class="row">
                        <section class="col col-md-3">

                            @Html.LabelFor(model => model.EmailID)
                            <label class="input">
                                @Html.TextBoxFor(model => model.EmailID)
                                @Html.ValidationMessageFor(model => model.EmailID)
                            </label>
                        </section>
                        <section class="col col-md-3">

                            @Html.LabelFor(model => model.Password)
                            <label class="input">
                                @Html.EditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </label>
                        </section>
                       

                    </div>
                    <div class="row">
                        <section class="col col-md-3">

                            @Html.LabelFor(model => model.CompanyName)
                            <label class="input">
                                @Html.TextBoxFor(model => model.CompanyName)
                                @Html.ValidationMessageFor(model => model.CompanyName)
                            </label>
                        </section>
                        <section class="col col-md-3">

                            @Html.LabelForRequired(model => model.AdminCompanyAddress)
                            <label class="input">
                                @Html.TextBoxFor(model => model.AdminCompanyAddress)
                                @Html.ValidationMessageFor(model => model.AdminCompanyAddress)
                            </label>
                        </section>
                       
                    </div>
                    <div class="row">
                        <section class="col col-md-3">

                            @Html.LabelFor(model => model.MobileNo)
                            <label class="input">
                                @Html.TextBoxFor(model => model.MobileNo)
                                @Html.ValidationMessageFor(model => model.MobileNo)
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-md-3">

                            @Html.LabelFor(model => model.IsActive)
                            <label class="check-square padding-top30">
                                @Html.CheckBoxFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </label>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <input type="submit" value="Update" class="bigButton" id="btnSubmit" />
                </footer>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
