@model IEnumerable<CommunicationApp.Models.SupplierModel>

@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<script type="text/javascript">
    var id = 0;
    function updateid(pid) {
        id = pid;
    }
    function deleteme() {
        debugger;
        window.location = "/Supplier/Delete?id=" + id;
    }

    $(document).ready(function () {
        $('input[name="StartDate"]').daterangepicker(
           {
               singleDatePicker: true,
               format: 'MM/DD/YYYY',
               startDate: '@DateTime.Now.ToString("MM/dd/yyyy")'
           },
           function (start, end, label) {
               //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
           }
       );
        $('input[name="EndDate"]').daterangepicker(
          {
              singleDatePicker: true,
              format: 'MM/DD/YYYY',
              startDate: '@DateTime.Now.ToString("MM/dd/yyyy")'
          },
          
          function (start, end, label) {
              //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
          }
      );
    });
</script>

<h2 class="text-center">Supplier</h2>

@{Html.RenderAction("DisplayMessage", "Base", new { ShowMessage = TempData["ShowMessage"], MessageBody = @TempData["MessageBody"] });}
@if (HttpContext.Current.Session["UserName"].ToString() == "SuperAdmin")
{
    <p class="operation">
        <i class="fa fa-mail-forward create_icon red"></i>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="col col-md-1">
                <b>First Name</b>
            </div>
            <div class="col col-md-2">

                @Html.TextBox("FirstName", null, new { @class = " col-md-12", @style = "height: 34px;" })
            </div>
            <div class="col col-md-1">
                <b>Mobile No</b>
            </div>
            <div class="col col-md-2">

                @Html.TextBox("MobileNo", null, new { @class = " col-md-12", @style = "height: 34px;" })
            </div>
          
            <div class="col col-md-3">
                <input type="submit" value="Search" data-id="search" class="bigButton action" />
            </div>
        </div>
    </div>
}

<div>
    <table id="mytable" class="table">
        <thead>
            <tr>
                <th class="txt-align"><span>Photo</span></th>
                <th class="txt-align"><span>First Name</span></th>
                <th class="txt-align"><span>Last Name</span></th>
                <th class="txt-align"><span>Address</span></th>
                <th class="txt-align"><span>Email</span></th>
                <th class="txt-align"><span>Mobile No</span></th>
                <th class="txt-align"><span>Skill</span></th>
               @if (HttpContext.Current.Session["UserName"].ToString() == "SuperAdmin")
                    {
                 <th class="txt-align"><span>Action</span></th>
               }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul class="list-inline">

                            @if ((item.Photopath != "") && (item.Photopath != null))
                            {
                                <li>
                                    <img src="@item.Photopath" class="avatar" alt="Avatar">
                                </li>
                            }

                        </ul>

                    </td>

                    <td class="txt-align">
                        @item.FirstName
                    </td>
                    <td class="txt-align">
                        @item.LastName
                    </td>

                    <td class="txt-align">
                        @item.Address
                    </td>
                    <td class="txt-align">
                        @item.EmailID
                    </td>
                    <td class="txt-align">
                        @item.MobileNo
                    </td>
                    <td class="txt-align">
                        @item.Skill
                    </td>
                    @if (HttpContext.Current.Session["UserName"].ToString() == "SuperAdmin")
                    {
                        <td class="operation">
                            <a href="@Url.Action("Edit", "Supplier", new { id = @item.SupplierId })" style="color: #20A12E" class=""><i class="">Edit</i>    </a>
                            <a data-toggle="modal" onclick="updateid(@item.SupplierId);" title="Delete" style="color: #20A12E" href="#myModal"><i class="">Delete</i></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <!-- modal header -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Supplier</h4>
            </div><!-- /modal header -->
            <!-- modal body -->
            <div class="modal-body">
                <p> Are you sure? This Tip will be permanently deleted and cannot be recovered. </p>
            </div>
            <!-- /modal body -->

            <div class="modal-footer">
                <!-- modal footer -->
                <button class="bigButton" data-dismiss="modal">Close</button>
                <button class="bigButton" onclick="deleteme();">Delete</button>
            </div><!-- /modal footer -->

        </div>
    </div>
</div>

@{
    if (Model.ToList().Count == 0)
    {
        TempData["Message"] = "No record found .";

    }
    else
    {
        Html.RenderAction("Paging", "Base");

    }

}