@model IEnumerable<CommunicationApp.Models.CompanyModel>

@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}
<h2 class="text-center">Company</h2>

<p class="operation">
    @if (Convert.ToBoolean(TempData["Create"]) == true)
    {
        <i class="glyphicon glyphicon-share-alt create_icon"></i>
        @Html.ActionLink("Create New", "Create")
    }
</p>

@{Html.RenderAction("DisplayMessage", "Base", new { ShowMessage = TempData["ShowMessage"], MessageBody = TempData["MessageBody"] });}

<div class="table-responsive">
    <table id="mytable" class="table">
        <thead>
            <tr>
                <th><span>@Html.DisplayNameFor(model => model.LogoPath)</span></th>
                <th><span>@Html.DisplayNameFor(model => model.CompanyName)</span></th>
                <th><span>@Html.DisplayNameFor(model => model.CompanyAddress)</span></th>
                <th><span>@Html.DisplayNameFor(model => model.EmailID)</span></th>
                <th><span>@Html.DisplayNameFor(model => model.WebSite)</span></th>
                <th><span>@Html.DisplayNameFor(model => model.IsActive)</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.LogoPath != "")
                        {
                            <img src="@Url.Content(item.LogoPath)" height="50" width="50" alt="No Image" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebSite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td class="operation">
                        @if (Convert.ToBoolean(TempData["Edit"]) == true)
                        {
                            @Html.ActionLink(" ", "Edit", new { id = item.CompanyID }, new { @class = "glyphicon glyphicon-edit edit_icon", @data_original_title = "Edit", @data_placement = "top", @data_toggle = "tooltip" })
                            <b>|</b>
                        }
                        @if (Convert.ToBoolean(TempData["Detail"]) == true)
                        {
                            @Html.ActionLink(" ", "Details", new { id = item.CompanyID }, new { @class = "glyphicon glyphicon-info-sign info_icon", @data_original_title = "Details", @data_placement = "top", @data_toggle = "tooltip" })
                            <b>|</b>
                        }
                        @if (Convert.ToBoolean(TempData["Delete"]) == true)
                        {
                            @Html.ActionLink(" ", "Delete", new { id = item.CompanyID }, new { @class = "glyphicon glyphicon-trash delete_icon", @data_original_title = "Delete", @data_placement = "top", @data_toggle = "tooltip" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    Html.RenderAction("Paging", "Base");
}

