@model CommunicationApp.Entities.State

@{
    ViewBag.Title = "States";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<h2 class="text-center">States</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="operation">
        @if (Convert.ToBoolean(TempData["View"]) == true)
        {
            <i class="fa fa-mail-reply backlist_icon"></i>
            @Html.ActionLink(" Back to List", "Index")
            <b> | </b>
        }
        <input type="submit" value="Delete" class="bigButton" />
    </div>
    }
</div>
